/* global style */

html {
    background-color: blanchedalmond;
    
}

h1,h2 {
    text-align: center;
}

.border {
    border: solid black 2px;
    padding: 10px;
    margin: 10px auto;
}

.A-han img {
    width: 640px;;
    height: 440px;
    display: block;
    margin: auto;
}
